---
import SeatMap from '../components/svelte/SeatMap.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout stylesheets={['css/components/seatMap.css', 'css/components/flight.css']}>
	<h2>Seat reservation</h2>
    <section>
		<SeatMap client:only="svelte" />
	</section>
</Layout>